extends layout

block content
  h1(class="title")= title
  p Welcome to #[em Game Express]!

  p The store has the following record counts: 


  ul 
    li #[strong Games:] !{game_count}
    li #[strong Publishers:] !{publisher_count}
    li #[strong Genres:] !{genre_count}
